/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  /* this clears any default margin or border from the browser */
  margin: 0;
  border: 0;

  /* box-sizing change the box model so no longer the borders and paddings are no longer added to the total width or height of the box */
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* this defines the line 1.7 times bigger then the predefined line-height */
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  /* this means that the height will be 95% of the viewport height */
  height: 95vh;
  /* to specify gradience we always need to use the background-image property, the colors are the first because it needs to be on top of the image */
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  /* what cover does is whatever is the width of the viewport (browser), it will try to fit the whole image in it */
  background-size: cover;
  /* that is to make sure the top of the image stays in the same place, if we used bottom as a reference the bottom of the image would keep in the same position */
  background-position: top;
  /* this position relative here is to inform the logo with the absolute position takes this element as its reference */
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.logo-box {
  /* absolute is to specify we are positioning this element and we always need to inform where, so that's why we inform the bottom and left (the object this logo box will take as reference is the header */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.heading-primary {
  color: #fff;
  /* transform all letters in uppercase */
  text-transform: uppercase;

  /* this fix the little shake that happens on the animation. It not known why this happens but this line of code fix it. */
  backface-visibility: hidden;
}
.heading-primary-main {
  /* this forces this element to occupy the entire space as a block */
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-primary-sub {
  /* this forces this element to occupy the entire space as a block */
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;

  animation: moveInRight 1s ease-out;
}

.text-box {
  position: absolute;
  /* the top and left is about the position related to the parent element */
  top: 40%;
  left: 50%;
  /* this means that the part of the element that must be 50% from the left is -50% of the element and same for the information from the top. If we don't do that it will look distorted on the screen, because it will take the left and bottom of the element as reference. */
  /* this is related to the element itself */
  transform: translate(-50%, -50%);
  text-align: center;
}

/* it's a "function" to animations that needs to be called in the element that needs to use this "function" */
@keyframes moveInLeft {
  /* what should happen in the moment 0% of the animation */
  0% {
    opacity: 0;
    transform: translate(-100px);
  }

  80% {
    transform: translate(10px);
  }
  /* what should happen in the moment 100% (end) of the animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  /* what should happen in the moment 0% of the animation */
  0% {
    opacity: 0;
    transform: translate(100px);
  }

  80% {
    transform: translate(-10px);
  }
  /* what should happen in the moment 100% (end) of the animation */
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn-white {
  background-color: #fff;
  color: #777;
}

/* :link is a pseudo-class, to style elements under a special condition  */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  /* because it's a link we need to take out the blue color and underline */
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
}
.btn:hover {
}

.btn:active {
}
